@import './_theme-light.scss';
@import './_colors.scss';
// Import the Sass files as usual
//@import 'bootstrap-icons/font/bootstrap-icons';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    font-family: inherit;
}

:root, .theme-light {
  // Light theme variables (already imported)
}

.theme-dark {
  @import './_theme-dark.scss';
  @import './_colors.scss';
} 